h1 {
  text-align: center;
  color: #1a2564;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.city-name {
  color: #195b87;
  font-weight: 300;
}
.currentTemperature {
  margin-left: 140px;
  margin-top: 20px;
  line-height: 40px;
  color: #195b87;
  font-weight: bold;
  font-size: 45px;
}
.currentLocation {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 15%;
  color: #195b87;
  background-color: aliceblue;
  border-radius: 15px;
  transition: 10ms ease-in-out;
  border-style: solid;
  border-color: #195b87;
}
#farenheit-link:hover {
  color: #1a2564;
  text-decoration: none;
}
#farenheit-link {
  color: #195b87;
  font-size: 25px;
  text-decoration: none;
}
#celsius-link {
  color: #195b87;
  font-size: 25px;
  text-decoration: none;
}
#celsius-link:hover {
  color: #1a2564;
  text-decoration: none;
}
.humidity {
  font-size: 22px;
}
.wind {
  font-size: 22px;
}
.frame {
  border-color: #1e2430;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

#currentweather {
  padding: 20px;
  float: inline-start;
  height: 220px;
}
#date-time {
  text-align: center;
  color: #1a2564;
  font-size: 25px;
}
.search-city {
  text-align: center;
  margin: 20px;
}
ul {
  list-style-type: none;
}
.card {
  border-radius: 15px;
  border-color: #1a2564;
  box-shadow: #1e2430;
}
.footer {
  text-align: center;
  color: #195b87;
}
